<html>
<head>
{{ mathdown.include_mathdown_editor() }}
<style>
.flask-mathdown-input {
}
.flask-mathdown-preview {
    border: 1px dotted black;
    background-color: #f0f0f0;
}
</style>
</head>
<body>
    <h1>Flask-MathDown Demo</h1>
	{% if text or text2 %}
    <div>
        <p>Received text was:</p>
        <pre>{{ text }}</pre>
        <pre>{{ text2 }}</pre>
    </div>
    <hr>
    {% endif %}
    <div style="width: 500px;">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                <b>{{ form.mathdown.label }}</b>:
                {{ form.mathdown(rows=10, style='width:100%') }}
            </div>
            <br>
            <div>
                {{ form.mathdown2(only_preview=True) }}
                <br>
                <b>{{ form.mathdown2.label }}</b>:
                {{ form.mathdown2(only_input=True, rows=10, style='width:100%') }}
            </div>
            <div>{{ form.submit() }}</div>
        </form>
    </div>
</body>
</html>
